/*Home page*/
.Home {
    padding: 6vh;
    height: 100%;
    background-color: #b61924;


    z-index:1;
}
.titolo-home{color: white;
            margin-top: 0vw;
            margin-bottom: 5vw;
            z-index:10;
            position: relative;
            text-align: center;
}


.prova-canvas{
    position: absolute;
	top: 40%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	width: 80%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.1);
	text-shadow: 0px 0px 0px #131415;
	font-family: 'Open Sans', sans-serif;
    z-index:1;
    text-align:center;
}

.canvas-due{
    position: absolute;
	top: 80%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	width: 80%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.1);
	text-shadow: 0px 0px 0px #131415;
	font-family: 'Open Sans', sans-serif;
    z-index:1;
    text-align:center;
}



.canvas-progetto-2{
    position: absolute;
	top: 120%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	width: 80%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.1);
	text-shadow: 0px 0px 0px #131415;
	font-family: 'Open Sans', sans-serif;
    z-index:1;
    text-align:center;
}

.canvas-progetto{
    position: absolute;
	top: 160%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	width: 80%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.1);
	text-shadow: 0px 0px 0px #131415;
	font-family: 'Open Sans', sans-serif;
    z-index:1;
    text-align:center;
}

.canvas-contribuisci{
    position: absolute;
	top: 200%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	width: 80%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.1);
	text-shadow: 0px 0px 0px #131415;
	font-family: 'Open Sans', sans-serif;
    z-index:1;
    text-align:center;
}


.title-over-plot {color: #262626;
        margin-top: 0vh;
        position:relative;
        text-align: center;
}


.btn-hashtag{
    margin-top: 10vh;
    color: #B22222;
    background-color: #DCDCDC;
    border-color: #B22222;
    border-width: 2px;
    margin-right: 2vw;
    width: 15vw;
    height: 8vh;
    position:relative;
}

.tableButton{
    position:relative;
    text-align:center;
}


/*App*/

.App {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.Title {margin-top:0px;
        z-index: 1;
        position: fixed;
        width: 100%;
        background-color: #b61924;
        box-shadow: 1px 1px 1px 0px #888888;
        height: 100px;
        vertical-align: middle;
        text-align: center;
        color: white;

        }



.prova-canvas-title{
    position: absolute;
	top: 40%;
	right: 50%;
	transform: translate(35%,-50%);
	color: $text;
	width: 80%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.0);
	text-shadow: 0px 0px 0px #131415;
	font-family: 'Open Sans', sans-serif;
    z-index:1;
    text-align:center;
}

.prova-canvas-form {
    position: absolute;
	top: 40%;
	right: 50%;
	transform: translate(35%,-50%);
	color: $text;
	width: 80%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.0);
	text-shadow: 0px 0px 0px #131415;
	font-family: 'Open Sans', sans-serif;
    z-index:1;
    text-align:center;
}



.title-name {
        margin-top: 20px;
        vertical-align: left;
        text-align: center;
        color: white;
        font-size: 75px;
        line-height: 74px;
        font-weight: 700;
        float: left;
        padding: 5px;
        margin: 7px 10px 3px 40px;
        }

.subtitle-name {
        margin-top: 20px;
        vertical-align: middle;
        color: grey;
        font-size: 25px;
        font-weight: 300;
        margin: 0 5px 24px;
        padding: 5px;
        margin: 7px 10px 3px 40px;
        font-family: Libre Baskerville, serif;
}

/* Attribute for the sidebar*/
.Sidebar {height: 100%;
    margin-top: 100px;
    margin-left:5px;
    width: 235px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: scroll;
    box-shadow: 1px 1px 1px 0px #888888;}

/* Define attributes for the Search side bar*/
.Sidebar-hashtag {margin-left: 0px;
                  margin-top:30px;
                  margin-bottom:120px;
                  width: 230px;
                  margin-right: 0px;
                  }

.Hashtag{display: inline-block;
            margin-right:0px;
            margin-top: 10px;
            align: center;
            }

.tag{background-color: #b61924;
            display: inline-block;
            margin-left: 0px;
            color:white;
            font-size: 12px;
            border-radius: 4px;
            box-shadow: 1px 1px 1px 0px #888888;
            font-family: Libre Baskerville, serif;
            }

.tag:hover{background-color: #23efff;
          }

.SearchContainer{align: center;
                font-size: 13px;
                }

.search-title {color: grey;
               font-size: 20px;
               font-family: Libre Baskerville, serif;
               margin: 7px 30px 3px 30px;
}

input-mine {line-height: 2;
        font-size: 13px;
        height: auto;
        margin-left: 0px;
        padding-left: 20px;
        align: center;
  }


/* DEfine attributes for the Topic choice sidebar*/
/*.Sidebar-topic {margin-left: 0px;
                  margin-top:100px;
                  width: 300px;
                  margin-right: 0px;
                  font-size: 13px;
                  }*/
.SearchContainer{align: center;
                font-size: 13px;}

.topic-btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0px #888888;
}

.Topic{display: inline-block;
            margin-right:0px;
            margin-top: 61px;
            align: center;
            }

.topic-btn{background-color: #2350ff;
            display: inline-block;
            margin-left: 10px;
            color:white;
            font-size: 12px;
            }

.topic-btn:hover{background-color: #23efff;
          }



/* Define the space for the single visualizations*/
.Visualisation{ margin-left: 230px; /* Same as the width of the sidenav */
                font-size: 28px; /* Increased text to enable scrolling */
                padding: 0px 0px;
                margin-top: 60px;
}


.GridViz {background-color: #fff;
          margin-left: 0px;}


/* Set box dimensions*/
/*Row 1*/
.col-1 {background-color: white;
        height: 350px;
        box-shadow: 2px 1px 2px 2px #888888;
        }
.col-2 {background-color: white;
        margin-left: 0px;
        height: 350px;
        box-shadow: 2px 1px 2px 2px #888888;}
.col-3 {background-color: white;
        box-shadow: 2px 1px 2px 2px #888888;
        margin-left: 0px;
        height: 350px;}



/* Titolo cards*/
.NumTweet {font-size: 1.5vw;
          margin-top: 20px;
          font-family: Libre Baskerville, serif;
          margin-bottom: 0px;
          color:grey;}

.NumRetweet {font-size: 1.5vw;
             margin-top: 20px;
             font-family: Libre Baskerville, serif;
             color:grey;}

.TweetSentiment {font-size: 1.5vw;
             margin-top: 20px;
             font-family: Libre Baskerville, serif;
             color:grey;}

.UserUnique {font-size: 1.5vw;
             margin-top: 20px;
             font-family: Libre Baskerville, serif;
             color:grey;}

.TopUsers {font-size: 1.5vw;
             margin-top: 20px;
             font-family: Libre Baskerville, serif;
             color:grey;}

.StreamTweet {font-size: 1.5vw;
             margin-top: 20px;
             font-family: Libre Baskerville, serif;
             color:grey;}

/* Progetto*/
.progetto-titolo {font-family: Libre Baskerville, serif;
                  color:grey;}


.progetto {margin-right: 200px;
           margin-left: 200px;
           text-align: justify;
           font-family: Libre Baskerville, serif;
           font-size: 1vw;
}


